apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{MYNAME}}-app
  labels:
    app: {{MYNAME}}-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{MYNAME}}-app
  template:
    metadata:
      labels:
        app: {{MYNAME}}-app
    spec:
      containers:
      - name: {{MYNAME}}-app
        image: docker.io/{{MYDOCKERUSER}}/{{MYNAME}}-app-dotnet:{{IMAGETAG}}
        imagePullPolicy: Always
        ports:
        - containerPort: 80
