apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: {{MYNAME}}-app
  annotations:
    cert-manager.io/issuer: rancher
    cert-manager.io/issuer-kind: Issuer
spec:
  rules:
  - host: {{MYNAME}}.rancher.simpleblocks.net
    http:
      paths:
      - path: /
        backend:
          serviceName: {{MYNAME}}-app
          servicePort: 80
 # tls:
 #   - hosts:
 #     - "{{MYNAME}}.rancher.simpleblocks.net"
 #     secretName: tls-ingress-{{MYNAME}}
